body {
	margin:0;
	-moz-user-select:none;
	-webkit-user-select:none;
	user-select:none;
	position: absolute;
}
#video{;
	margin: 0;
	width: 1280px;
	height: 720px;
	overflow: hidden;
	display: block;
	/*display: none;*/
}
/*.video{
	display: block;
}*/
img {
	position: absolute;
	display: none;
	width: 1280px;
	height: 720px;
	margin: 0;
}
.background {
	background-color: #000;
	width: 100%;
	height: 100%;
}
