body {
	margin:0;
	-moz-user-select:none;
	-webkit-user-select:none;
	user-select:none;
	position: absolute;
}
.video{
	width: 1280px;
	height: 720px;
	overflow: hidden;
	display: none;
}
.video .on{
	display: block;
}